/* Front css*/
.header-banner{
    text-align: center;
    position: relative;
}

.left-banner{
    position: fixed;
    left: 5px;
}

.right-banner{
    position: fixed;
    right: 15px;
}

.footer-banner{
    position: fixed;
    bottom: 0;
    left: 35%;
}



/* admin css*/
.admin.header-banner{
    margin-left: 26%;
    margin-bottom: 10px;
    height: 100px;
    width: 680px;
    border: dashed;
}

.admin.left-banner{
    position: fixed;
    margin-left: 35px;
    left: 5px;
    height: 500px;
    width: 100px;
    border: dashed;
}

.admin.right-banner{
    position: fixed;
    right: 42px;
    height: 500px;
    width: 100px;
    border: dashed;
}

.admin.footer-banner{
    position: fixed;
    bottom: 0;
    width: 680px;
    height: 100px;
    left: 26%;
    border: dashed;
}

h1.text-center-2{
    /*position: relative; !* or absolute *!*/


    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}


.container.main-style{
    color: #abbab0;
    border: dashed;
    border-color: #abbab0;
    text-align: center;
    height: 500px;
    width: 75%;
}

.container.main-style h1{
    margin-top: 20%;
}
